.panel-body{
  margin-bottom: 50px;
}

.container {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.tab-content {
    margin-top: 50px;
}

.red {
    background-color: white !important;
    color: black !important;
}

.red .active a, .red .active a:hover {
    background-color: #6b0808 !important;
    color: white !important;

}

#tab-esami {
    background: linear-gradient(lightgrey, white);
    height: 50px;
    width: auto;
    text-indent: 20px;
}

.button {       /*phantom button*/
  /*  width: 200px;*/
    color: black;
    border-radius: 10px;
    border: 1px solid red;
    float: right;
}

.tab-pane {
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel-body{
  background: linear-gradient(lightgrey, white);
}
/*
#restanti {
    background: linear-gradient(lightgrey, white);
}*/


a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;           /*toglie la sottolineatura*/
}

#main {
    margin-top: 0px;
}

#header {
    margin-bottom: 0px;
    padding: 4%;
}

@media screen and (max-width: 480px) {
    a {
        font-size: 13px;
    }

    .button {
      font-size: 0.6em;
    }
}

h1 {
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #6b0808; /* #bb2e29 è il rosso chiaro, #6b0808 è quello scuro per gli hover ecc, #1d6684 è il blu */
    margin: 0%;
    padding: 4%;
    /* border: solid 3px blue; */
}

h2, p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

h2 {
    padding: 1.5%;
    font-style: Open Sans;
    /* border: solid 3px green; */
}

.logoOnNavBar {
    display: fixed;
    position: absolute;
    height: 10%;
    top: 10px;
    background-image: url('/images/unibo.png');
}
