a:link, a:visited, a:active {
    font-size: 20px;
    letter-spacing: 3px;
}

p {
    color: #333;
    font-size: 16px;
}

.panel-body {
    margin-left: 9%;
    margin-right: 9%;
}

#main {
    margin-left: 7%;
    margin-right: 7%;
}
