#variableView{
  position: absolute;
  margin-left: 30%;
  margin-top:-10%;
}

#variableView2{
  position: absolute;
  margin-left: 30%;
  margin-top:-10%;
}

#inf{
  position: relative;
  margin-right: 30%;
}

#inf2{
  position: relative;
  margin-right: 30%;
}

#bottoni{

}
