
.cubotto {
	position: relative;
	display: block;
	width: 150px;
	height: 150px;
	border: 1px lightgrey solid;
	border-radius: 10px;
	margin: 20px;
	background-color: white;
	box-shadow: 5px 5px 10px 0px lightgrey;
}

.cubotto-icon {
	display: block;
	position: relative;
	width: 70%;
	height: 70%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.cubotto-text {
	display: block;
	position: relative;
	text-align: center;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Open Sans";
	font-size: 17px;
	font-style: normal;
}

.homeIconNavBar {
	position: relative;
	width: height;
	height: 70px;
}

.iconNavBar {
	position: relative;
	width: height;
	height: 20px;
}

img {
	position: relative;
    max-width: 100%; 
    height: auto; 
}
