
#variableView,#variableView2,#variableView3,#variableView4{
    position: relative;
    float: right;
}



/*RESPONSIVE: per ridimensionare il menu e la mappa in base alla dimensione del dispositivo*/
@media screen and (min-width: 480px) {

    #mappa-menu {
     position: relative;
     margin-left: 30%;
     margin-top:-10%;
    }

}
