body {
    min-width:100px; /* suppose you want minimun width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:100px;             /* As IE ignores !important it will set width as 1000px; */
}

.container {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.red {  /* Restanti - Prenotati - Verbalizzati */
    background-color: white !important;
    color: black !important;
    margin-bottom: 5%;
    font-weight: bold;
}

.red .active a, .red .active a:hover {
    background-color: #6b0808 !important;
    color: white !important;
}

a:link {
    color: #6b0808;
}

a:link, a:visited, a:active {
    border: 0;                              /*  toglie la sottolineatura puntinata */
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none !important;       /* toglie la sottolineatura */
}

.button {       /*phantom button*/
    float: right;
    color: #333 !important;
}

h1 { /* insegnamenti */
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #6b0808;     /* #bb2e29 è il rosso chiaro, #6b0808 è quello scuro per gli hover ecc, #1d6684 è il blu */
    margin-top: 40px;
    margin-bottom: 40px;
}

.panel-title { /* h2 - programazione/basi di dati/embedded */
    padding: 2%;
}

.panel-body {
    margin: 0;
    padding: 0;
    height: 40px !important;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.panel-heading {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #f6f6f6 !important;
}

.panel-collapse, .collapse {
    margin: 3%;
}

#main {
    margin-left: 7%;
    margin-right: 7%;
}

.logoOnNavBar {
    position: absolute;
    height: 10%;
    top: 10px;
    margin-left: 10px;
}

#header {
    padding: 3%;
    background-color: #f6f6f6;
    height: 120px;
}

#footer {
	padding: 1em !important;
}

.copyright {
    text-align: center;
    font-weight: bold;
    margin: 5% !important;
    background-color: #f6f6f6 !important;
}

@media screen and (max-width: 480px) {
    a:link {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .button {
      font-size: 12px;
    }

    body {
        margin: 0px;
    }

    h1 {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        font-size: 1.8em;
    }

    h2 {
       font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    #main {
        margin: 0px;
        padding: 0px;
    }
    #inner { padding: 0px !important; }
    #header { height: 90px; }
    .copyright { font-size: 9px !important;}
}

#graph {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
}

#verbalized {
    display: block;
    position: relative;
}

@media (min-width: 900px) {

    #progressBar {
        display: inline-block;
        position: relative;
        float: left;
        width: 70%;
    }

    #average {
        display: inline-block;
        position: relative;
        float: right;
        width: 30%;
    }

}

@media (max-width: 900px) {

    #progressBar {
        display: none;
    }

    #average {
        display: block;
        position: relative;
        width: 100%;
    }

}

#avg {
    position: relative;
    display: inline-block;
    color: #6b0808;
    bottom: 10%;
    top: 10%;
    height: 30%;
    width: 100%;
}

#graduated {
    position: relative;
    display: inline-block;
    height: 70%;
    width: auto;
    padding-left: 7%;
    padding-right: 7%;
}
